[Unit]
Description=NimOS Permissions Daemon
Documentation=https://github.com/andresgv-beep/NimOs-beta-4
After=local-fs.target
Before=nimbusos.service

[Service]
Type=simple
User=root
Group=root
ExecStart=/opt/nimbusos/daemon/nimos-daemon
Restart=always
RestartSec=3

# Security hardening
PrivateNetwork=false
ProtectHome=true
ProtectSystem=strict
ReadWritePaths=/run /nimbus /var/lib/nimbusos /etc /home /tmp /var/tmp /var/log /var/cache /opt/nimbusos /usr/local/bin
NoNewPrivileges=false

# Logging
StandardOutput=append:/var/log/nimbusos/daemon.log
StandardError=append:/var/log/nimbusos/daemon-error.log

[Install]
WantedBy=multi-user.target
